{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p><strong>Создатель сайта Алексей Комаров</strong></p>
<div class="mytext">
    <p>
        Здесь Вы найдёте подробные обзоры новинок мирового автопрома (с фото- и видео-материалами, перечислением технических параметров и характеристик, указанием ориентировочной стоимости на российском рынке и уровней оснащения). А так же сможете ознакомиться с отзывами/мнениями реальных владельцев легковых автомобилей и оставить отзыв об авто которым владеете (или владели) Вы сами. Кроме того, на страницах нашего сайта Вы найдёте и другую полезную информацию, как то: результаты краш-тест’ов и тест-драйв’ов; разного рода рейтинги (опять же, по результатам тестирования) не только автомобилей, но и их компонентов/элементов/аксессуаров (шины, аккумуляторы, видеорегистраторы, радар-детекторы и т.п.). А так же различные публикации другого рода: от серьёзных рекомендаций и аналитики до описания увлекательных фактов автомобильного мира и рассмотрения примеров тюнинга различных легковушек.
    </p>
</div>

{% endblock %}
