{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Наш адрес не дом и не улица,<br />
    Наш адрес Санкт-Петербург<br />
    <!--<abbr title="Phone">P:</abbr>
    425.555.0100-->
</address>

<address>
    <strong>Сотрудничество и реклама</strong>   <a href="mailto:Support@example.com">extend@list.ru</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@rematele.ru</a>-->
</address>

{% endblock %}
